<html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>SwapZ</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css" />

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <header>
      <h2 class="display-4">SwapZ</h2>
    </header>
    <h5>Welcome Back <span id='username'></span>!</h5>
  </div>

  <div class="container">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trading Market</a>
            </li>
          </ul>
        </div>
        <div class="card col-sm-10">
          </br>

          <!-- Profile -->
          <div class="card" id="profile">
            <h3 class="card-title">My Profile</h3>
            <div class="row">
              <div class="col-md">

              </div>
            </div>
          </div>
          </br>

          <!-- New Item -->
          <div class="card" id="add-item">
            <h3 class="card-title">Add Item</h3>
            <div class="row">
              <div class="col-md">

              </div>
            </div>
          </div>
          </br>

          <!-- My Items -->
          <div class="card">
            <h3 class="card-title">My Items</h3>
            <div class="row">
              <div class="col-md">
                <ul class="list-group" id="my-items">
                  <li class="list-group-item">
                    <h3 class="item-name"></h3>
                    <img class="item-image" src="#" alt="Item's Name">

                    <span class="badge badge-primary badge-pill"></span>
                  </li>
                  <li class="list-group-item">
                    <h3 class="item-name"></h3>
                    <img class="item-image" src="#" alt="Item's Name">

                    <span class="badge badge-primary badge-pill"></span>
                  </li>
              </div>
            </div>
            </br>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- TODO remove after connected -->
  <script src="../js/profile.js" type="text/javascript"></script>

</body>

</html>