.list-group-item {
  line-height: 2.5;
}

.navbar {
  background-color: aliceblue;
}

body {
  background-color: #49bcab;
  width: 100%;
  height: 100%;
}

.login-box {
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
}

.form-widith {
  width: 100%;
}

.card-title {
  color: #f7b733;
  font-weight: bold;
}

.loginbtn {
  background-color: #f7b733;
  border-color: #f7b733;
}
.loginbtn:hover {
  background-color: #f7b733;
  border-color: #f7b733;
}

.swapnav {
  border-bottom: 6px solid #f7b733;
}

a {
  color: #fe491a;
}

.navbar-brand {
  font-family: fantasy;
  font-size: 25px;
}

.nav-link:hover {
  color: #58c2b4;
}

.navbar-brand:hover {
  color: #58c2b4;
}

body {
  font-family: "Montserrat", sans-serif;
}

.card {
  background-color: paleturquoise;
}